.App {
  text-align: center;
}

.music-container {
  display: flex;
  justify-content: space-around;
}

.music-list > ol {
  height: 80vh;
  overflow: scroll;
}

.music-list > ol > li {
  padding: 5px;
  cursor: grab;
}

.music-list > ol > li:hover {
  font-size: 1.5rem;
}

img {
  border-radius: 15%;
}